body {
    background-color: #2e3351;
    margin: 0;

    .bgCanvas {
        position: fixed;
        z-index: 1;
    }

    .container {
        max-width: 1100px;
        width: 100%;
        margin: auto;
        position: relative;
        z-index: 10;
        padding: 3em;
    
        .formControl {
            width: 100%;
        }
    
        .searchGroup {
            margin-bottom: 2em;
            align-items: center;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px #ddd;
            padding: 1em 2em;
        }
    }
}